@keyframes bounceUp {
	0%   { transform: translateY(300px); }
	50%  { transform: translateY(-30px); }
	60%  { transform: translateY(30px); }
	70%  { transform: translateY(-20px); }
	80% { transform: translateY(20px); }
	90%  { transform: translateY(-10px); }
	95% { transform: translateY(10px); }
	100% { transform: translateY( 0px); }
}

@keyframes slightShake {
	0%   { transform: translateX( 0px); }
	25%  { transform: translateX(-1px) rotate(-1deg); }
	50%  { transform: translateX( 0px); }
	75%  { transform: translateX( 1px) rotate( 1deg); }
	100% { transform: translateX( 0px); }
}

@keyframes strongShake {
	0%   { transform: translateX( 0px); }
	25%  { transform: translateX(-4px) rotate(-3deg); }
	50%  { transform: translateX( 0px); }
	75%  { transform: translateX( 4px) rotate( 3deg); }
	100% { transform: translateX( 0px); }
}

@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes glow {
	from { color: #000; text-shadow: 0 0 0px rgba(255, 0, 0, 0); }
	to { color: #F00; text-shadow: 0 0 20px rgba(255, 0, 0, 0.8); }
}

@keyframes tada {
	0% { transform: scale3d(0.1, 0.1, 0.1); }
	30%, 50%, 70%, 90% { transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 4deg); }
	40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -4deg); }
	100% { transform: scale3d(1, 1, 1); }
}

@keyframes bounceInDown {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	0% { opacity: 0; transform: translate3d(0, -3000px, 0); }
	60% { opacity: 1; transform: translate3d(0, 25px, 0); }
	75% { transform: translate3d(0, -10px, 0); }
	90% { transform: translate3d(0, 5px, 0); }
	to { transform: none; }
}

@keyframes bounceInUp {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	from { opacity: 0; transform: translate3d(0, 3000px, 0); }
	60% { opacity: 1; transform: translate3d(0, -20px, 0); }
	75% { transform: translate3d(0, 10px, 0); }
	90% { transform: translate3d(0, -5px, 0); }
	to { transform: translate3d(0, 0, 0); }
}

@keyframes bounceInLeft {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	0% { opacity: 0; transform: translate3d(-3000px, 0, 0); }
	60% { opacity: 1; transform: translate3d(25px, 0, 0); }
	75% { transform: translate3d(-10px, 0, 0); }
	90% { transform: translate3d(5px, 0, 0); }
	to { transform: none; }
}

@keyframes bounceInRight {
	from, 60%, 75%, 90%, to { animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	from { opacity: 0;transform: translate3d(3000px, 0, 0); }
	60% { opacity: 1; transform: translate3d(-25px, 0, 0); }
	75% { transform: translate3d(10px, 0, 0); }
	90% { transform: translate3d(-5px, 0, 0); }
	to { transform: none; }
}

@keyframes flipInX {
	from { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
	40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
	60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
	80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
	to { transform: perspective(400px); }
}

@keyframes flipInY {
	from { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
	40% { transform: perspective(400px) rotate3d(0, 1, 0, -20deg); animation-timing-function: ease-in; }
	60% { transform: perspective(400px) rotate3d(0, 1, 0, 10deg); opacity: 1; }
	80% { transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
	to { transform: perspective(400px); }
}