// ====== IMPORTS ===========================================================

@import '_h5bp';
@import '_meyer-reset';

@import 'variables';
@import 'fonts';



// ====== MIXINS ===========================================================

@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin colour($hex) {
	background-color: $hex;
	.cell {
		color: darken($hex, 10%);
	}
	border-color: darken($hex, 20%);
}

// ====== COMMON ===========================================================


html,
body {

}

a, a:link, a:visited, a:hover, a:active {

}

body {
	text-align: center;

	.fullScreen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#content {
		background-color: #FFF;

		.colour_1  { @include colour(#771057); }
		.colour_2  { @include colour(#AB4388); }
		.colour_3  { @include colour(#CB9BB8); }
		.colour_4  { @include colour(#0F4479); }
		.colour_5  { @include colour(#4477AA); }
		.colour_6  { @include colour(#79AADB); }
		.colour_7  { @include colour(#127775); }
		.colour_8  { @include colour(#45AAA8); }
		.colour_9  { @include colour(#77CBCC); }
		.colour_10 { @include colour(#107747); }
		.colour_11 { @include colour(#43AA7A); }
		.colour_12 { @include colour(#89CCAA); }
		.colour_13 { @include colour(#787612); }
		.colour_14 { @include colour(#AAAA46); }
		.colour_15 { @include colour(#DEDD77); }
		.colour_16 { @include colour(#79440F); }
		.colour_17 { @include colour(#AA7646); }
		.colour_18 { @include colour(#DBAB77); }
		.colour_19 { @include colour(#771023); }
		.colour_20 { @include colour(#A94456); }
		.colour_21 { @include colour(#DF7689); }

		&.screen {
			.players {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;

				display: flex;
				justify-content: center;

				.player {
					width: 140px;
					height: 160px;
					margin: 20px 10px -5px 10px;
					background-image: url(/images/noise.png);
					border-width: 10px;
					border-style: solid;
					border-radius: 20% 20% 0 0;
					border-bottom: 0;
					box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);

					&.nearlyBingo {
 						animation: slightShake 0.4s infinite;
					}

					&.bingoAvailable {
						animation: strongShake 0.3s infinite;
					}
				}
			}
		}

		&.controller {
			> div {
				background-image: url(/images/noise.png);
			}

			section {
				padding: 60px 30px 0 30px;
			}

			.card {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				background-color: rgba(0, 0, 0, 0.5);
				border-radius: 6%;
				width: 81vw;
				padding: 2vw 0vw;

				.cell {
					width: 13vw;
					height: 13vw;
					line-height: 14vw;
					font-size: 7.5vw;
					border: none;
					margin: 1.1vw;
					font-family: 'Alfa Slab One', cursive;
					background-color: transparent;

					perspective: 1000;

					&.marked .flipper {
						transform: rotateY(180deg);
					}

					.flipper {
						transition: 0.6s;
						transform-style: preserve-3d;
						position: relative;

						.front, .back {
							border-radius: 25%;
							width: 13vw;
							height: 13vw;
							backface-visibility: hidden;
							position: absolute;
							top: 0;
							left: 0;
							background-color: #FFF;
						}

						.front {
							z-index: 2;
							transform: rotateY(0deg);
						}

						.back {
							transform: rotateY(180deg);
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}

h1 {
	font-size: 4em;
}

.button {
	border: 1px solid black;
	color: black;
	background-color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

a.button.bingo {
	margin: 1em;
	padding: 1em;
	font-size: 2em;
}




@keyframes slightShake {
	0%   { transform: translateX( 0px); }
	25%  { transform: translateX(-2px); }
	50%  { transform: translateX( 0px); }
	75%  { transform: translateX( 2px); }
	100% { transform: translateX( 0px); }
}

@keyframes strongShake {
	0%   { transform: translateX( 0px); }
	25%  { transform: translateX(-4px) rotate(-1deg); }
	50%  { transform: translateX( 0px); }
	75%  { transform: translateX( 4px) rotate( 1deg);  }
	100% { transform: translateX( 0px); }
}

@import 'mobile';