// ====== IMPORTS ===========================================================

@import '_h5bp';
@import '_meyer-reset';

@import 'variables';
@import 'fonts';

@import 'animate';





// ====== MIXINS ===========================================================

@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}



// ====== COMMON ===========================================================

html,
body {

}

a, a:link, a:visited, a:hover, a:active {

}

body {
	text-align: center;

	.fullScreen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#content {
		background-color: #FFF;

		.colour_1 {
			background-color: #FF6A00;
		}
		.colour_2 {
			background-color: #0094FF;
		}
		.colour_3 {
			background-color: #B200FF;
		}
		.colour_4 {
			background-color: #FF006E;
		}
		.colour_5 {
			background-color: #5B7F00;
		}
		.colour_6 {
			background-color: #FF7F7F;
		}
		.colour_7 {
			background-color: #A17FFF;
		}
		.colour_8 {
			background-color: #0026FF;
		}
		.colour_9 {
			background-color: #FFB27F;
		}

		&.screen {
			.players {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;

				display: flex;
				justify-content: center;

				.player {
					width: 200px;
					height: 200px;
					margin: 20px 10px 0 10px;
				}
			}
		}

		&.controller {
			section {
				padding: 60px 30px 0 30px;
			}
			.card {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				background-color: black;
				border-radius: 25%;

				.cell {
					width: 13vw;
					height: 13vw;
					line-height: 14vw;
					font-size: 9vw;
					border-radius: 25%;
					border: none;
					margin: 1vw;
				}
			}
		}
	}
}

h1 {
	font-size: 4em;
}

.button {
	border: 1px solid black;
	color: black;
	background-color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.button.cell {

}

a.button.cell.marked {
	background-color: red;
}

a.button.bingo {
	margin: 1em;
	padding: 1em;
	font-size: 2em;
}


@import 'mobile';