@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-ms-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($args...) {
	-webkit-animation: $args;
	-moz-animation:    $args;
	-ms-animation:     $args;
	-o-animation:      $args;
	animation:         $args;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition:    $args;
	-ms-transition:     $args;
	-o-transition:      $args;
	transition:         $args;
}

@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow:    $args;
	-ms-box-shadow:     $args;
	-o-box-shadow:      $args;
	box-shadow:         $args;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform:    $transforms;
	-ms-transform:     $transforms;
	-o-transform:      $transforms;
	transform:         $transforms;
}

@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:    $values;
	-ms-flex:         $values;
	-webkit-flex:     $values;
	flex:             $values;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin colour($hex) {
	background-color: $hex;
	.cell {
		&:link, &:visited, &:hover, &:active {
			color: darken($hex, 10%);
		}
	}
	border-color: darken($hex, 20%) !important;
}

@mixin fullScreen() {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

@mixin thickShadow() {
	text-shadow:
		3px 1px 0px rgba(0, 0, 0, 0.7),
		4px 2px 0px rgba(0, 0, 0, 0.7),
		5px 3px 0px rgba(0, 0, 0, 0.7),
		7px 4px 0px rgba(0, 0, 0, 0.7),
		8px 5px 0px rgba(0, 0, 0, 0.7),
		10px 6px 0px rgba(0, 0, 0, 0.7),
		11px 7px 0px rgba(0, 0, 0, 0.7),
		13px 8px 0px rgba(0, 0, 0, 0.7),
		14px 9px 0px rgba(0, 0, 0, 0.7),
		16px 10px 0px rgba(0, 0, 0, 0.7),
		17px 11px 0px rgba(0, 0, 0, 0.7);
}